footer{
    background: rgb(42,0,78);
    background: linear-gradient(90deg, #2a004e 0%, #500073 100%);
    color: aliceblue;
    padding: 150px 50px;
    /* margin-bottom:25px ; */
    /* background-color: aqua; */
    height: 50vh;
    text-align: center;

    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
}

h2{
    margin-bottom: 10px;
}